.form {
  max-width: 50%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.597);
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.form__control {
  width: 60%;
  margin: 20px auto;
}

.form__control-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form input[type=email],
.form input[type=password] {
  padding: 5px 10px 5px 3px;
  position: relative;
  z-index: 1;
  outline: none;
}

.form button {
  display: block;
  margin: 0 auto;
  background: transparent;
  border: none;
  padding: 5px 10px;
  box-shadow: 0 0 5px #000;
}

.blue {
  background: rgba(74, 74, 255, 0.913)!important;
  color: #fff!important;
}

.blue:hover {
  box-shadow: 0 0 10px #000;
}

.no-cursor {
  cursor: none;
}

.cursor {
  cursor: pointer;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.male,
.female,
.terms {
  cursor: pointer;
}

.form__email-error,
.form__password-error {
  display: block;
  font-size: 11px;
  width: 196px;
  margin: 5px 0 0 auto;
}

.success {
  color: #00ff00;
}

.error {
  color: #ff0000;
}

.border-success {
  border: none;
  border-bottom: 2px solid #00ff00;
}

.border-error {
  border: none;
  border-bottom: 2px solid #ff0000;
}

.neutral {
  border: none;
  border-bottom: 2px solid #000;
}

.form__terms {
  text-align: center;
  margin: 0 0 25px;
}

.form__right {
  width: 196px;
}

.form__gender {
  display: inline-block;
  margin-right: 10px;
}

.form__gender:last-of-type {
  margin: 0;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal__content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 290px;
  position: relative;
}

.close {
  position: absolute;
  right: 20px;
  cursor: pointer;
  font-size: 40px;
  line-height: 0.4;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}