.form {
  max-width: 50%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.597);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 5px #000;

  &__male,
  &__female,
  &__terms {
    cursor: pointer;
  }

  &__success {
    color: #0f0;
  }

  &__error {
    color: #f00;
  }

  &__border-success {
    border: none;
    border-bottom: 2px solid #0f0;
  }
  
  &__border-error {
    border: none;
    border-bottom: 2px solid #f00;
  }

  &__control {
    width: 60%;
    margin: 20px auto;
  }

  &__control-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    width: 196px;
    display: flex;
  }

  &__gender {
    margin-right: 10px;

    &:last-of-type {
      margin: 0;
    }
  }

  &__input {
    padding: 5px 10px 5px 3px;
    position: relative;
    z-index: 1;
    outline: none;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    background: transparent;
    border: none;
    padding: 5px 10px;
    box-shadow: 0 0 5px #000;
  }

  &__text-error {
    display: block;
    font-size: 11px;
    width: 196px;
    margin: 5px 0 0 auto;
  }

  &__terms {
    text-align: center;
    margin: 0 0 25px;
  }
}